name: Publish Asciidoc Templating Javadoc

run-name: Publish Asciidoc Templating Javadoc ${{ github.event.inputs.version }}

on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to publish"
        type: string
        required: true
        default: "x.y.z"

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: "temurin"

      - name: Setup Maven Configuration
        uses: bonitasoft/maven-settings-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - name: Setup Git
        id: git-setup
        uses: bonitasoft/git-setup-action@v1
        with:
          keeper-secret-config: ${{ secrets.KSM_CONFIG }}

      - name: Download Javadoc
        run: >
          mvn -ntp dependency:unpack
          -Dartifact=com.bonitasoft:bonita-asciidoc-templating:${{ github.event.inputs.version }}:jar:groovydoc
          -DoutputDirectory=./asciidoc-templating/groovydoc/${{ github.event.inputs.version }}/
          -Dproject.basedir=.

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        id: create-pr
        with:
          branch: chore/update-asciidoc-templating-javadoc
          base: master
          author: ${{ steps.git-setup.outputs.name}} <${{ steps.git-setup.outputs.email}}>
          committer: ${{ steps.git-setup.outputs.name}} <${{ steps.git-setup.outputs.email}}>
          commit-message: "chore(asciidoc-templating): Add ${{ github.event.inputs.version }} javadoc version"
          title: "[asciidoc-templating] ${{ github.event.inputs.version }} update"
          body: |
            Publish asciidoc-templating ${{ github.event.inputs.version }} javadoc.
